@import './base.css';

html{
  height: 100%;  
}
body{
  height: 100vh;
}
#app{
  display: flex;
  flex-direction: row;
  max-width: 1460px;
  margin: 0 auto;
  background-image: url('/public/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main{
  width: 100%;
  /* background-image: url('/public/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; */
  font-weight: normal;
  font-family: Arial, sans-serif;
  padding: 24px;
}
/* .inside-button{
  background-color: gray;
}
.delete--button{
  background-color: red;
} */
@media only screen and (max-width: 1280px) {
  main {
    padding-left: 20px;
    padding-right: 20px;     
  }        
}
@media only screen and (max-width: 768px) {
  main {
    padding-left: 16px;
    padding-right: 16px;     
  }        
}
@media only screen and (max-width: 576px) {
  main {
    padding-left: 10px;
    padding-right: 10px;     
  }        
}
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
